NODE_ENV=development
PORT=9000
DATABASE=mongodb://127.0.0.1:27017/power_bank_demo
DATABASE_PASSWORD=
REDIS_URL=redis://127.0.0.1:6379
TOKEN_SECRET=
JWT_EXPIRATION=1d
API_KEY_POWER_BANK=
API_KEY=
APIUSERID=
MERCHANTUID=
